* {
    box-sizing: border-box
}

body{
    margin: 0;
    padding: 0;;
    font-family: 'Work Sans', sans-serif;
}

nav {
    background-color: grey;
    font-weight: bold;
}

#logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    padding: .2em 0;
    flex-grow: 1.5;
}

ul {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: .5rem;
    align-items: center;
}

a {
    display: inline-block;
    margin: 0 1rem 0 0;
    text-decoration: none;
}

nav ul li:nth-child(4) {
    flex-grow: 1.2;
}

a:active {
    color: black !important;
}

a:hover {
    color: midnightblue;
    font-weight: bolder;
}