body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message {
    margin: 1rem;
    padding: .5rem;
    border-radius: 5px;
}

.message-info {
    background-color: lightskyblue;
    border: 1px solid blue;
    color: blue;
}

.message-success {
    background-color: lightgreen;
    border: 1px solid green;
    color: green;
}

.message-warning {
    background-color: yellow;
    border: 1px solid goldenrod;
    color: goldenrod;
}

.message-error {
    background-color: indianred;
    border: 1px solid darkred;
    color: darkred;
}